{% extends "event/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="container-index">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">{% trans "Sign In" %}</h3>

          <p class="card-text text-center">{% blocktrans %}Welcome back to SENspired. To leave a comment or like a post, please log in. If you haven't created an account yet, <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
          
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            
            <button class="btn btn-primary btn-block mt-3" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
