{% extends 'event/base.html' %}

{% block content %}
<div class="container-index ">
    <h2 class="text-center">Request to use our space</h2>
    <p class="text-light text-center">Request to use our space with the form below and we'll let you know as soon as possible if it's possible! You can keep track in <a href="{% url 'booked_list' %}">My Bookings</a>.</p>
    <div class="row justify-content-center ">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center">Event Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                {{ form.media }}
                                {{ form.as_table }}
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class="text-center">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                <a href="{% url 'booked_list' %}" class="btn btn-secondary ml-2">Cancel</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}