{% extends 'event/base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Coming soon!</h1>
      <p class="lead">We're working on getting a lot of this site up to scratch! Please bare with us. In the mean time check out out socials links here!</p>
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank" class="text-light"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="https://www.instagram.com" target="_blank" class="text-light"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="https://www.etsy.com" target="_blank" class="text-light"><i class="fab fa-etsy fa-lg"></i></a>
        <a href="https://www.pinterest.com" target="_blank" class="text-light"><i class="fab fa-pinterest fa-lg"></i></a>
    </div>
    </div>
  </div>


{% endblock %}