{% extends 'event/base.html' %}
{% load static %}
{% block content %}
<div class="container-index">
    <h2 class="text-center">{{ form.instance.title|default:"Edit Event" }}</h2>

    <div class="row justify-content-center">
        <div class="col-md-8 container-index">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.media }}
                
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center">Event Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                {{ form.as_table }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}