{% extends 'event/base.html' %}
{% load static %}

{% block content %}
<div class="background index-page">
    <img src="{% static 'images/hero.png' %}" class="img-fluid" alt="Hero Image">
</div>
<div class="container container-index2 text-center">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <img src="{% static 'images/logo.png' %}" alt="SENspired Logo" class="logo_index img-fluid">
            <p>Who are we? Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

            <div class="buttons">
                <a href="{% url 'event_book' %}" class="btn btn-primary">Book</a>
                <a href="{% url 'coming_soon' %}" class="btn btn-primary">Contact Us</a>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img src="{% static 'images/messy_play.jpg' %}" alt="Image 1" class="rounded-child-friendly img-fluid border-colored1">
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/mums_group.jpg' %}" alt="Image 2" class="rounded-child-friendly img-fluid border-colored2">
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/storytelling.jpg' %}" alt="Image 3" class="rounded-child-friendly img-fluid border-colored3">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
