{% extends 'event/base.html' %}
{% load static %}

{% block content %}
<div class="background index-page">
    <img src="{% static 'images/hero.png' %}" class="img-fluid" alt="Hero Image">
</div>
<div class="container container-index2 text-center">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <img src="{% static 'images/logo.png' %}" alt="SENspired Logo" class="logo_index img-fluid">
            <p class="text-light">Hello and welcome to your one stop shop of all thing’s baby, child and young person centered. </p>
            <p class="text-light">  Inclusion is defined as “the practice of providing equal access to opportunities and resources for all.” It is about making sure that no one is left behind.  </p> 
            <p class="text-light"> Senspired is in the process of developing that all so that no matter what you are on the hunt for, we are ready to meet you there. </p>
            <p class="text-light">   From Baby and toddler classes that help cement the foundations of the basic skills needed to thrive to soon-to-be preschool to ensure a smooth entry into formal schooling, we have it all. Including the bits in the middle.</p>
            <div class="buttons mt-3">
                <a href="{% url 'event_book' %}" class="btn btn-primary">Book</a>
                <a href="{% url 'coming_soon' %}" class="btn btn-primary">Contact Us</a>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img src="{% static 'images/messy_play.jpg' %}" alt="Image 1" class="rounded-child-friendly img-fluid border-colored1">
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/mums_group.jpg' %}" alt="Image 2" class="rounded-child-friendly img-fluid border-colored2">
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/storytelling.jpg' %}" alt="Image 3" class="rounded-child-friendly img-fluid border-colored3">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
